body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #2a2a2a;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("../image/background_kiwi.jpg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../image/background_kiwi.jpg");
  min-height: 250px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../image/background_kiwi.jpg");
  min-height: 200px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  /*
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }*/
}

.link_{
  text-decoration: none;
}

.borda{
  -webkit-text-stroke-width: 1px; /* largura da borda */
  -webkit-text-stroke-color: #d9d9d9; /* cor da borda */
}
