@media screen and (min-width: 700px){
  .blog_init{
    background: #e28b79;

    margin: 20px 100px 20px 100px;
    height: 300px;
  }
  .blog_init:hover{
    background: #72db99;
    cursor: pointer;
  }

  .img{ /*600px por 200px e como "linkar" todo o container*/
    height: 200px;
    width: 70%;
  }
}

@media screen and (max-width: 700px){
  .blog_init{
    background: #e28b79;
    margin: 20px 40px 20px 40px;
    height: 300px;
  }
  .blog_init:hover{
    background: #81e2a5;
    cursor: pointer;
  }

  .img{
    height: 230px;
    width: 95%;
  }
}
